a.footer{
    background: url(../img/sprites.png) no-repeat -112px 0; 
    width: 115px; 
    height: 25px;
    margin-top: 40px;
}

p.footer{
    margin-top: 0px; 
    top: 1px;
}

div.footer{
    height: 120px; 
    margin-top: 0px;
}
